<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <description>Spring beans配置</description>

    <bean id="loginService" name="loginService" class="com.zhang.spring.service.LoginService"/>
    <bean id="loginResource" name="loginResource" class="com.zhang.spring.service.LoginResource">
        <property name="loginService" ref="loginService"/>
    </bean>
</beans>